<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml"  href="{{ site.url }}/feed.xml" title="{{ site.title }}">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">


  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@red_panda_RCJ" />

  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %}

  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}" />
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}" />
  {% endif %}

  {% if page.image %}
  <meta name="twitter:image" content="https://rp-800.github.io/img/{{ page.image }}" />
  {% else %}
  <meta name="twitter:image" content="https://rp-800.github.io/img/logo.jpg?" />
  {% endif %}

  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>
